/*.gameframe canvas {
   -webkit-transform : rotate(-90deg);  
   -moz-transform : rotate(-90deg);
}*/

/*body{
    background-color: #242424;
}*/

/*#game {
    position: relative; z-index: 1; height: 70px; width: 70px; }*/

/*#counter { 
    position   : absolute; 
    z-index    : 1; 
    top        : 50%; 
    margin-top : -6.85em;
    margin-left: -7.15em;
    display    : block; 
    width      : 100%;
    text-align : center;
    height     : 1.5em;
    color      : #528f20;
    font       : 1.3em Arial;
}*/
    
